@model UniDesk.Web.Models.Ticket

<h2>Create Ticket</h2>

<form method="post">

<div>
<label asp-for="Title"></label>
<input asp-for="Title" />
<span asp-validation-for="Title"></span>
</div>

<div>
<label asp-for="Description"></label>
<input asp-for="Description" />
<span asp-validation-for="Description"></span>
</div>

<button type="submit" id="submitBtn">Create</button>

</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>
	document.querySelector("form").addEventListener("submit", function () {

		document.getElementById("submitBtn").disabled = true;

	});
	</script>
}